{% extends "app/layout.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'app/catalog.css' %}">
{% endblock %}

{% block boutique %}
{% endblock %}

{% block body %}

<h2>{{ title }}</h2>

{% if orders|length == 0 %}
<i>You haven't ordered with us...</i>
{% else %}
You made a total of {{ orders|length }} orders. <br>
{% endif %}

{% if sub_title %}
<h3>{{ sub_title }}</h3>
{% endif %}


{% if orders|length > 0 %}

{% for order in orders %}
Total of {{ order.products.all|length }} products.
<table>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>S</th>
      <th>M</th>
      <th>L</th>
      <th>XL</th>
      <th>Payed p/ product</th>
      <th>Discount</th>
      <th>Price</th>
      <th>Total</th>
    </tr>

    {% for prod in order.products.all %}
    <tr>
        <td><a href="{% url 'product_id' id=prod.product.id %}">{{ prod.product.name }}</a></td>
        <td>{{ prod.product.color }}</td>
        <td>{{ prod.S }}</td>
        <td>{{ prod.M }}</td>
        <td>{{ prod.L }}</td>
        <td>{{ prod.XL }}</td>
        <td>$ {{ prod.payed }}</td>
        <td>{{ prod.discount }} %</td>
        <td>$ {{ prod.price }}</td>
        <td>$ {{ prod.total }}</td>
    </tr>
    {% endfor %}
</table>
Total of $ {{ order.total }}, on {{ order.payed_date }}.<br><br>
{% endfor %}

{% endif %}
{% endblock %}