{% extends "app/layout.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'app/catalog.css' %}">
{% endblock %}

{% block boutique %}
{% endblock %}

{% block body %}

<h2>{{ title }}</h2>

{% if sub_title %}
<h3>{{ sub_title }}</h3>
{% endif %}

{% if cart.products.all|length == 0 %}
<i>You have a total of 0 products in your car...</i>
{% else %}
A total of {{ cart.count }} products. <br><br>
{% endif %}

{% if cart %}
{% if cart.products.all|length > 0 %}
<table>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>S</th>
      <th>M</th>
      <th>L</th>
      <th>XL</th>
      <th>Price today</th>
      <th>Discount</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
    {% for cart_product in cart.products.all %}
    <tr>
        <td><a href="{% url 'product_id' id=cart_product.product.id %}">{{ cart_product.product.name }}</a></td>
        <td>{{ cart_product.product.color }}</td>
        <td>{{ cart_product.S }}</td>
        <td>{{ cart_product.M }}</td>
        <td>{{ cart_product.L }}</td>
        <td>{{ cart_product.XL }}</td>
        <td>$ {{ cart_product.product.price_today }}</td>
        <td>{{ cart_product.product.price.discount }} %</td>
        <td>$ {{ cart_product.product.price.price }}</td>
        <td>$ {{ cart_product.total }}</td>
    </tr>
    {% endfor %}
</table>

<h3>Purchase</h3>
Total of $ {{ total }}
<form action="{% url 'purchase' %}" method="post">
  {% csrf_token %}
  <br>
  <input type="submit" value="Purchase">
</form>

<form action="#" method="get">
  {% csrf_token %}
  <br>
  <input type="submit" value="$ 0.00">
</form>

{% endif %}
{% endif %}
{% endblock %}