a:link {
    text-decoration: none;
}  
a:visited {
    color: blue;
    text-decoration: none;
} 
a:hover {
    text-decoration: none;
}  
a:active {
    color: red;
    text-decoration: none;
}

.anchor-decharacterized {
    color: black !important; 
}
.anchor-decharacterized:link {
    text-decoration: none;
}  
.anchor-decharacterized:visited {
    text-decoration: none;
} 
.anchor-decharacterized:hover {
    text-decoration: none;
}  
.anchor-decharacterized:active {
    text-decoration: none;
}