{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Boutique{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app/layout.css' %}">
    {% block style %}
    {% endblock %}
</head>
<body>
    <h1><a class="anchor-decharacterized" href="{% url 'index' %}">Boutique</a></h1>

    {% block account %}
    {% if request.session.JWT %}
    <ul>
        <li><a href="{% url 'cart' %}">Cart</a></li>
    </ul>

    <ul>
        <li><a href="#">Orders</a></li>
    </ul>
    {% endif %}
    {% endblock %}

    {% block authentication %}
    <ul>
        {% if request.session.JWT is None %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        {% else %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
    </ul>
    {% endblock %}

    {% block boutique %}
    <ul>
        <li><a href="{% url 'man' %}">Man</a></li>
        <ul>
            {% for category in man_categories %}
            <li><a href="{% url 'man_category' category=category %}">{{ category }}</a></li>
            {% endfor %}
        </ul>
        <li><a href="{% url 'woman' %}">Woman</a></li>
        <ul>
            {% for category in woman_categories %}
            <li><a href="{% url 'woman_category' category=category %}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    </ul>
    {% endblock %}
    
    {% block body %}
    {% endblock %}
</body>
</html>